/* Nav */
.customNav {
    position: fixed;
    width: 100%;
    background-color: darkgray;
    background-color: transparent;
    background-size: cover;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.navbar-brand {
    font-weight: bolder;
    color: black;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item {
    margin: 0px 15px;
}

.btn-group {
    background-color: transparent;
    background-size: contain;
    color: rgb(5, 4, 4);
    text-decoration: none;
    background: grey;
    background-color: transparent;
    background-size: contain;
}

#navigation:hover {
    box-shadow: 5px 28px 28px 5px rgba(11, 8, 8, 0.24), 0 17px 50px 0 rgba(8, 8, 8, 0.24);
    border-radius: 15%;
}

#navigation1:hover {
    box-shadow: 5px 28px 28px 5px rgba(11, 8, 8, 0.24), 0 17px 50px 0 rgba(8, 8, 8, 0.24);
    border-radius: 15%;
}

#navigation1 {
    color: black;
}

.btn-outline-dark:hover {
    box-shadow: 5px 28px 28px 5px rgba(128, 125, 125, 0.24), 0 17px 50px 0 rgba(128, 125, 125, 0.24);
    border-radius: 15%;
}

.btn-link:hover {
    box-shadow: 5px 28px 28px 5px rgba(128, 125, 125, 0.24), 0 17px 50px 0 rgba(128, 125, 125, 0.24);
}

#dropdownmenu {
    background-color: #f8f9fa;
    color: black;
    border: #f8f9fa 0px;
    box-shadow: none;
}

#dropdownmenu:hover {
    box-shadow: 5px 28px 28px 5px rgba(128, 125, 125, 0.24), 0 17px 50px 0 rgba(128, 125, 125, 0.24);
    border-radius: 15%;
}

/* Jumbotron  */
.jumbotron {
    background-image: url(../images/back.png);
    background-size: cover;
    background-repeat: repeat;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.lead {
    text-align: center;
    font-weight: 500;
    font-style: italic;
}

/* Jumbotron copy */
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: solid black;
    font-weight: bold;
    text-align: center;
}

/* Cards */
.sectionHeading {
    text-align: center;
}

.card-img-top {
    height: 287px;
    width: auto;
}

.card {
    margin: 10px;
}

.showsNear {
    padding: 0px 30px 30px 30px;
}

.cardContainer {
    text-align: center;
}

.row {
    justify-content: center;
}

#accordion {
    width: 77%;
    margin: auto;
    text-align: center;
    border-radius: 50%;
}

/* Collapsable List */
.btn-link {
    font-size: 30px;
    color: black;
}

/* About me */

.card-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.card-body {
    font-size: 20px;
    text-align: center;
    font-weight: 20px;
}

#aboutme {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
}

#aboutme img {
    width: 30%;
    margin: auto;
    height: 70%;
    border-radius: 45%;
    margin-top: 15px;
}

/* Footer */

.contactme {
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.contactme h3 {
    font-weight: bold;
}

.contactme p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}