/* General */
.customNav {
    position: fixed;
    width: 100%;
    background-color: darkgray;
    background-color: transparent;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0;
  }
  .navbar-brand {
    font-weight: bolder;
    color: black;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .nav-item {
    margin: 0px 15px;
  }

/* Navigation dropdown menu */
.dropdown-menu {
    background-color: transparent;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: white;
      text-decoration: none;
      background: grey;
  }

  /* Jumbotron  */
.jumbotron {
    background-image: url(../images/back.png);
    background-size:cover;
    background-repeat: repeat;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: solid black;
    font-weight:bold;
    text-align: center;
  }
  
  /* Cards */
  .sectionHeading {
    text-align: center;
  }
  .card-img-top {
    height: 287px;
    width: auto;
  }

  .card {
    margin: 10px;
  }
  .showsNear  {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }

  .row {
    justify-content: center;
  }
  
#accordion {
    width: 80%;
    margin:auto;
    text-align: center;
    border-radius: 50%;
}

/* Collapsable List */
.btn-link {
    font-size: 30px;
    color: black;
}

  /* About me */

.card-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.card-body {
font-size: 20px;
text-align: center;
}

#aboutme {
margin-left: 200px;
margin-right: 200px;
margin-top: 100px;
 }

 #aboutme img {
width: 30%;
margin: auto;
height: 30%;
 }
  
  /* Footer */
.emailContain {
    background: url(../images/emailBG.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  /* Footer  */